@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

@import url('./_normalize.scss');

$header-height: 100px;
$footer-height: 80px;

.slider-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 60vh;
}

.slider-item {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider-img {
  width: 40vw;
  position: absolute;
}

.slider-img--large {
  width: 50vw;
}