@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

@import url('./_normalize.scss');

$header-height: 100px;
$footer-height: 80px;


body {
  background-color: #FCFCFC;
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: $header-height;

  &__title {
    color:black;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
  }

  &__subtitle {
    color: #AFAFAF;
    font-size: 18px;
    line-height: 50px;
  }
}

.nav {
  &__list {
    display: flex;
    line-height: 50px;
    text-transform: uppercase;
  }

  @media (max-width:430px) {
    &__list {
      flex-direction: column;
    }
  }

  &__item {
    font-weight: 100;
    margin: 0 12px;
    color: #A7A7A7;
    text-decoration: none;
    text-shadow: #E7E7E7 0 0 30px;

    &--active {
      color: #000;
    }

    &:hover {
      color:black;
    }
  }
}

.main {
  min-height: calc(100vh -
  $header-height - $footer-height - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer {
  max-width: 1200px;
  margin: 0 auto;
  height: $footer-height;
  border-top: 1px solid #E7E7E7;
  display:flex;
  justify-content:center;
  align-items: center;

  &__img {
    background-image: url('../img/inst_icon.svg');
    background-size: 100%;
    height: 50px;
    width: 50px;
    transition-duration: 0.2s;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}